/*search nav*/

.form-inline {

    margin-top: 5px;
    margin-bottom: 5px;

}

.nav-top {

    background-color: #234968;
}

.navbar-search {
    background-color: #F05D5E;
}

/*link navbar*/

.navbar-default {
    background-color: #E2D0BE;
    border: none;
    border-radius: 0px;
}

.flashy {
    color: #234968;
}

.navbar-default .navbar-brand {
    color: #F05D5E;
}

.navbar-default .navbar-nav>li>a {
    color: #234968;
} {
    color: #F05D5E;
}
