#map-canvas {
            width: 100%;
            height: 481px;
        }

/*search nav*/

.form-inline {

    margin-top: 5px;
    margin-bottom: 5px;

}

.nav-top {

    background-color: #234968;
}

.navbar-search {
    background-color: #F05D5E;
}

/*link navbar*/

.navbar-default {
    background-color: #E2D0BE;
    border: none;
    border-radius: 0px;
}

.flashy {
    color: #234968;
}

.navbar-default .navbar-brand {
    color: #F05D5E;
}

.navbar-default .navbar-nav>li>a {
    color: #234968;
}

/*feature on show page*/

.imgSize{
    width: 100%;
    height: 100%;
    padding: 1px;
    clear: both;
}
.mainImg{
    height: 100%;
    margin-bottom: 25px;
}
.bigImg{
    height: 500px;
    padding-right: 0px;
    padding-left: 0px;
}

/*1 and 3 on side*/
.secondRow{
    height: 33.33%;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .bigImg{
        height: 100%;
    }
    .secondRow{
        height: 200px;
    }
}

.imgUnder{
    padding-right: 0px;
    padding-left: 0px;
}

.imgUnder:after, .imgUnder:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.imgUnder:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.imgUnder:before {
    content: attr(data-content);
    width:75%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:Left;
    background:rgba(0,0,0,0.7);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.imgUnder:hover:after, .imgUnder:hover:before {
    opacity:1;
}

/*1 and 3 under*/
/*.secondRow{
  height: 200px;
}
*/
/*.imgUnder{
  padding-right: 0px;
  padding-left: 0px;
}*/



/*Footer*/

footer ul li a {
	padding: 5px;
	display: block;
}

footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #F05D5E;
}

.social li {
	background: none repeat scroll 0 0 #F05D5E;
	border: 2px solid #F05D5E;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #F05D5E ;
}

.social li:hover {
	border: 2px solid  #2;
	background: #234968;
}


.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color:#E2D0BE;
}

.social li a i:hover {
	color: #083b66;
}

.footer-bottom {
	width: 100%;
	background: #E2D0BE;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    color: #234968;
	padding-top: 7px;
}

/* dropdown */
